/* color_variable */

/* The goal of this task is to use a SASS variable to assign the text color '#3D3D3D' to HTML tags body and p */
$Text_Color: #3D3D3D;

body {
    color: $Text_Color;
}

p {
    color: $Text_Color;
}