/* loop_header */

/* The goal of this task is to use @for statement to create 'h*' tags where '*' is the size of the font 
used. We must create 'h*' tags from 1 to 5. */

@for $i from 1 through 5 {
    h#{$i} {
        font-size: #{$i}px;
    }
}